fastapi==0.115.6
uvicorn[standard]==0.34.0
openai-whisper==20250625
transformers==4.48.3
python-multipart==0.0.16
torch
torchaudio
ffmpeg-python
coqui-tts
pydub
edge-tts
torchaudio
faster-whisper
transformers[sentencepiece]
webvtt-py
pysrt==1.1.2
deep-translator==1.11.4
supabase
python-jose[cryptography]
passlib[bcrypt]
python-dotenv
gTTS
scipy
numpy<2.0.0
GPUtil
psutil
requests

email-validator
